ul#news_list {
  list-style:none;

  li {
    margin-bottom:2em;
    font-size:2em;
    line-height:1.2em;

    .first {
      font-weight:bold;
    }
    .date {
      display:inline;
      font-size:.8em;
      font-style:italic;
    }
  }
}
