@import '../partials/colors';
@import '../partials/standards';
@import '../partials/fonts';

.rsvp-intro {
  color:$malibu;
  font-size:2em;
  line-height:1em;
  padding:0 0 2em 0;

  .names {
    color:#000;
    font-size:2em;
    line-height:1.2em;
  }
}
.rsvp-row {
  .control-group {
    background-color:#fff;
    &:hover {
      background-color:$malibu;
    }
  }
}
