%tr{ :data => { 'attendee-id' => attendee.id}}
  %td= attendee.name
  %td
    -if attendee.guest_name
      =attendee.invitation.guest_name_with_remainaing_count 
      (#{attendee.guest_friendly_name})
  %td=attendee.meal_title
  %td=attendee.table_number
  %td=attendee.note
    
