=content_for :title do
  Attendees

.row
  .span1
    =link_to "New Attendee", new_attendee_path
  .span11
    %h4 #{@attending} attending
    %h5 #{@not_attending} not attending
    %h6 #{@percent_reporting}% reporting (of #{@total_invited} invited)
    %br
    -if @attendees.any?
      %table.table.table-bordered.striped
        %thead
          %tr
            %th Attendee
            %th Guest
            %th Meal
            %th Table
            %th Note
        %tbody
          =render(@attendees)
    -else
      =raw("You have not added any attendees.<br/>Add a new one on the left.")

=content_for :javascript do
  :javascript
    $(function() {
      $("table tbody tr").click(function() {
        document.location = "attendees/" + $(this).data('attendee-id');
        return false;
      });
    });

