%p
  #boxbutton
    %span.link
      %span#count 0
      Clicks
    &nbsp;
    %a.link{ :href => 'javascript:', :onclick => 'resetGame();'} Reset
  #boxcard
    #card1
      %img{ :src => '/images/one.jpg'}
    #card2
      %img{ :src => '/images/two.jpg'}
    #card3
      %img{ :src => '/images/three.jpg'}
    #card4
      %img{ :src => '/images/four.jpg'}
    #card5
      %img{ :src => '/images/five.jpg'}
    #card6
      %img{ :src => '/images/six.jpg'}
    #card7
      %img{ :src => '/images/seven.jpg'}
    #card8
      %img{ :src => '/images/eight.jpg'}
    #card9
      %img{ :src => '/images/nine.jpg'}
    #card10
      %img{ :src => '/images/ten.jpg'}
    #card11
      %img{ :src => '/images/one.jpg'}
    #card12
      %img{ :src => '/images/two.jpg'}
    #card13
      %img{ :src => '/images/three.jpg'}
    #card14
      %img{ :src => '/images/four.jpg'}
    #card15
      %img{ :src => '/images/five.jpg'}
    #card16
      %img{ :src => '/images/six.jpg'}
    #card17
      %img{ :src => '/images/seven.jpg'}
    #card18
      %img{ :src => '/images/eight.jpg'}
    #card19
      %img{ :src => '/images/nine.jpg'}
    #card20
      %img{ :src => '/images/ten.jpg'}

= content_for :javascript do
  :javascript
    var boxopened = "";
    var imgopened = "";
    var count = 0;
    var found =  0;

    function randomFromTo(from, to){
      return Math.floor(Math.random() * (to - from + 1) + from);
    }

    function shuffle() {
      var children = $("#boxcard").children();
      var child = $("#boxcard div:first-child");

      var array_img = new Array();

      for (i=0; i<children.length; i++) {
      array_img[i] = $("#"+child.attr("id")+" img").attr("src");
      child = child.next();
      }

      var child = $("#boxcard div:first-child");

      for (z=0; z<children.length; z++) {
      randIndex = randomFromTo(0, array_img.length - 1);

      // set new image
      $("#"+child.attr("id")+" img").attr("src", array_img[randIndex]);
      array_img.splice(randIndex, 1);

      child = child.next();
      }
      }

      function resetGame() {
      shuffle();
      $("img").hide();
      $("img").removeClass("opacity");
      count = 0;
      $("#msg").remove();
      $("#count").html("" + count);
      boxopened = "";
      imgopened = "";
      found = 0;
      return false;
      }

      $(document).ready(function() {
      $("img").hide();
      $("#boxcard div").click(openCard);

      shuffle();

      function openCard() {

      id = $(this).attr("id");

      if ($("#"+id+" img").is(":hidden")) {
      $("#boxcard div").unbind("click", openCard);

      $("#"+id+" img").slideDown('fast');

      if (imgopened == "") {
      boxopened = id;
      imgopened = $("#"+id+" img").attr("src");
      setTimeout(function() {
      $("#boxcard div").bind("click", openCard)
      }, 300);
      } else {
      currentopened = $("#"+id+" img").attr("src");
      if (imgopened != currentopened) {
      // close again
      setTimeout(function() {
      $("#"+id+" img").slideUp('fast');
      $("#"+boxopened+" img").slideUp('fast');
      boxopened = "";
      imgopened = "";
      }, 400);
      } else {
      // found
      $("#"+id+" img").addClass("opacity");
      $("#"+boxopened+" img").addClass("opacity");
      found++;
      boxopened = "";
      imgopened = "";
      }

      setTimeout(function() {
      $("#boxcard div").bind("click", openCard)
      }, 400);
      }

      count++;
      $("#count").html("" + count);

      if (found == 10) {
      msg = '<span id="msg">Congrats ! You found all of us with </span>';
      $("span.link").prepend(msg);
      }
      }
      }
      });


