%ul#news_list
  %li.first
    .date 8.21.11 
    %span{ :style => 'font-size:1.5em;' }
      Engagement Pictures 
    are now available in the 
    = link_to 'Image Gallery', pics_path 
  %li 
    .date 7.20.11
    Play our lil' 
    =link_to 'matching game', game_path
