.row-fluid
  .span4=image_tag 'standing.jpg'
  .span8
    .hero-unit.black.font-delius.center{ :style => 'background:white;'}
      %h1 
        Hayley Facer
        %br
        &
        %br
        Christopher Marshall 
        %h2
          are tying the knot!
      %p
        %br
        %h3 Saturday July 21st, 2012
      %p=link_to 'Get the Deets...', info_path, { :class => 'btn  btn-large' }
