%p
  .normal
    When:
  .bold.big
    July 21, 2012
    %br
    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Chris%20Marshall%20%26%20Hayley%20Facer%20Wedding&dates=20120721/20120721&details=The%20wedding%20of%20Chris%20Marshall%20%26%20Hayley%20Facer.%20Reception%20to%20follow.&location=The%20Bertram%20Inn%20and%20Conference%20Center&trp=false&sprop=http%3A%2F%2Fcrayley.com&sprop=name:Crayley.com" target="_blank"><img src="//www.google.com/calendar/images/ext/gc_button2.gif" alt="0" border="0"></a>
%p
  .normal
    Where:
  .bold
    .big= link_to "The Bertram Inn & Conference Center", "http://thebertraminn.com"
    (330) 995-0200
    %br
    600 North Aurora Road
    %br
    Aurora, OH 44202-7107
%p
  <iframe width="625" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=The+Bertram+Inn+%26+Conference+Center,+600+North+Aurora+Road,+Aurora,+OH+44202&amp;aq=0&amp;oq=the+ber&amp;sll=41.140981,-81.499939&amp;sspn=0.011118,0.022724&amp;ie=UTF8&amp;hq=The+Bertram+Inn+%26+Conference+Center,+600+North+Aurora+Road,+Aurora,+OH+44202&amp;t=h&amp;cid=16565559471611854345&amp;hnear=&amp;ll=41.350139,-81.348095&amp;spn=0.045102,0.107288&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=The+Bertram+Inn+%26+Conference+Center,+600+North+Aurora+Road,+Aurora,+OH+44202&amp;aq=0&amp;oq=the+ber&amp;sll=41.140981,-81.499939&amp;sspn=0.011118,0.022724&amp;ie=UTF8&amp;hq=The+Bertram+Inn+%26+Conference+Center,+600+North+Aurora+Road,+Aurora,+OH+44202&amp;t=h&amp;cid=16565559471611854345&amp;hnear=&amp;ll=41.350139,-81.348095&amp;spn=0.045102,0.107288&amp;z=13&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

