%ul#news_list.font-delius
  %li.first
    .date 2.27.12
    =link_to "Additional Wedding Specifics", info_path
    have been given a home on their own page.
    The Bertram is 
    %span.bold now accepting reservations for rooms
    , if anyone needs them. You can place them under the
    Marshall/Facer Wedding block!
  %li
    .date 8.21.11 
    %span{ :style => 'font-size:1.5em;' }
      Engagement Pictures 
    are now available in the 
    = link_to 'Image Gallery', pics_path 
  %li 
    .date 7.20.11
    Play our lil' 
    =link_to 'matching game', game_path

