#gallery
  -for img in @images
    =image_tag "image_gallery/#{img}"

=content_for :javascript do
  = javascript_include_tag "galleria-1.2.4"
  :javascript
    Galleria.loadTheme('/galleria/themes/classic/galleria.classic.js');
    $('#gallery').galleria({
      width:630,
      height:600
    });
