%table.registry_table
  %tr
    %td
      %a{ :href => @macys_url, :target => '_blank' }
        =image_tag 'http://www1.macys.com/img/nav/co_macysLogo3.gif' 
    %td.text
      = link_to "Macy's Wedding Registry ID: 770479", @macys_url, :target => '_blank'
  %tr
    %td
      %a{ :href => @bed_bath_url, :target => '_blank' }
        =image_tag 'http://bedbath-andbeyondcoupons.net/logo.gif' 
    %td.text
      = link_to "Bed Bath & Beyond Registry ID: 12493362", @bed_bath_url, :target => '_blank'
         
