.row
  .span1
    %ul.nav.nav-pills.nav-stacked
      %li=link_to 'Generate from Guests', choose_invitations_path
      %li=link_to "New Invitation", new_invitation_path
      %Li
        %hr
      %li=link_to "Print Invitaion Inserts", inserts_invitations_path
  .span11
    -if @invitations.any?
      %table.table.table-bordered.striped
        %thead
          %tr
            %th Guest
            %th Passcode
        %tbody
          =render(@invitations)
    -else
      =raw("You have not added any invitations.<br/>Add a new one on the left.")

=content_for :javascript do
  :javascript
    $(function() {
      $("table tbody tr").click(function() {
        document.location = "invitations/" + $(this).data('invitation-id');
        return false;
      });
    });

