.row
  .span1
    %ul.nav.nav-list
      %li= link_to 'Back', invitations_path
      %li.divider
      %li= link_to "Delete", invitation_path(@invitation), :method => :delete, :confirm => "You sure?"
  .span11
    %dl
      %dt
        Guest
      %dd
        =@invitation.guest_id
    %dl
      %dt
        Passcode
      %dd
        =@invitation.passcode
    %dl
      %dt
        RSVP Link
      %dd
        = link_to 'RSVP', rsvp_path(@invitation.id_hash)
