.row
  .span1
    %ul.nav.nav-list
      %li= link_to 'Edit', edit_invitation_path(@invitation)
      %li= link_to 'Back', invitations_path
      %li.divider
      %li= link_to "Delete", invitation_path(@invitation), :method => :delete, :confirm => "You sure?"
  .span11
    %dl
      %dt
        Guest
      %dd
        =@invitation.guest_id
    %dl
      %dt
        Passcode
      %dd
        =@invitation.passcode

