@import '../partials/colors';
@import '../partials/standards';
@import '../partials/fonts';

.page-header {
  font-family: 'Delius', serif;
}

.clear {
  clear:both;
}

.table tbody tr:hover {
  cursor:pointer;
}

#main_content {
}
